{
  "bold_folder_labels": true,
  "caret_extra_bottom": 0,
  "caret_extra_top": 0,
  "caret_extra_width": 0,
  "color_scheme": "Packages/Material Theme/schemes/Material-Theme-Lighter.tmTheme",
  "ensure_newline_at_eof_on_save": true,
  "font_face": "Menlo",
  "font_size": 14,
  "indent_guide_options": ["draw_normal", "draw_active"],
  "line_padding_bottom": 3,
  "line_padding_top": 3,
  "overlay_scroll_bars": "enabled",
  "save_on_focus_lost": true,
  "tab_size": 2,
  "theme": "Material-Theme-Lighter.sublime-theme",
  "translate_tabs_to_spaces": true,
  "trim_trailing_white_space_on_save": true
}
