[core]
  editor = subl -n -w
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[user]
  name = Cameron Jacoby
  email = cameron.jacoby@gmail.com
